//dark mode
$primary-color: #10172a;
$secondary-color: #6c757d;
$text-color: #9ca6bc;
$text-color-stressed: #c4d0e8;
$text-color-green: #56d7c4;


//light mode
$primary-color-light: #C8D4E3;
$secondary-color-light: #6c757d;
$text-color-light: #10172a;
$text-color-stressed-light: #2e3037;
$text-color-green-light: #000000;