@import './variables';

footer{
    position: fixed;
    bottom: 60px;
    left: 250px;

    a{
        color: #9ca6bc;
        transition: all 0.2s ease-in-out;
        margin: 15px;

        &:hover{
            color: #c4d0e8;
        }

        svg{
            width:30px;
            height:30px;
        }
    }

    &.lightMode{
        
        a:hover{
                color: $text-color-light;
            }
    }

    label{
        width: 100px;
        height: 50px;
        border-radius: 50px;
        position: absolute;
        top: -60px;
        left: 10px;
        background-color: rgba(200, 212, 227, 0.7);
        box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4),inset 0px -5px 15px rgba(255, 255, 255, 0.4) ;
        transition: 0.3s;
    }

    label:after{
        content:'';
        width:45px;
        height: 45px;
        position: absolute;
        top: 3px;
        left: 3px;
        background: linear-gradient(180deg, $secondary-color, $primary-color);
        border-radius: 45px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        transition: 0.3s;
    }

    input:checked + label{
        background-color: rgba(16, 23, 42, 0.7);
    }

    input{
        width: 0px;
        height: 0px;
        visibility: hidden;
    }

    input:checked + label:after{
        left: 97px;
        transform: translateX(-100%);
        background: linear-gradient(180deg, $primary-color, $secondary-color);
    }

    label svg{
        position: absolute;
        width: 30px;
        top: 10px;
        z-index: 100;
    }

    label svg.sun{
        left: 60px;
        fill: #7e7e7e;
        transition: 0.3s;
    }

    label svg.moon{
        left: 10px;
        fill: $text-color-green;
        transition: 0.3s;
    }

    input:checked + label svg.sun{
        fill: $text-color-green;
    }

    input:checked + label svg.moon{
        fill: #7e7e7e;
    }
}

@media screen and (max-width: 1260px) {
    footer{
        label{
        top: 100px;
        left: 10px;
        }
    }
}

@media screen and (max-width: 740px) {
    footer{
        label{
        top: 155px;
        left: 100px;
        }
    }
}