@import './variables';

footer{
    position: fixed;
    bottom: 60px;
    left: 250px;

    a{
        color: #9ca6bc;
        transition: all 0.2s ease-in-out;
        margin: 15px;

        &:hover{
            color: #c4d0e8;
        }

        svg{
            width:30px;
            height:30px;
        }
    }

    &.lightMode{
        
        a:hover{
                color: $text-color-light;
            }
    }
}
