header{
    display: flex;
    flex-direction: row;

    .name {
        font-size: 1.25rem;
        line-height: 1.75rem;
        text-decoration: none;
        color: inherit;
        font-weight: 700;
        color: #0ea5e9;
      }
}
