@import 'dark_variables';

.summary{
    .sumText{
        width: 500px;
        line-height: 1.8rem;
        font-size: 20px;
        font-weight: 200;
        color: $text-color;

        .stressed{
            color: $stressed;
        }
    }

    .tags{
        display: flex;
        flex-direction: row;
        margin-top: -25px;
        p{
            background-color: $secondary-color;
            border-radius: 25px;
            padding: 10px 15px 10px 15px;
            margin-right: 15px;
            color: $stressed;
        }
    }
}