@import './variables';

nav{
    ul {
    list-style: none;
    padding: 0px;

        li {
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;
            margin-bottom: 10px;
            transition: ease-in-out 0.2s;

            .line {
                border-bottom: solid 1px;
                width: 30px;
                margin-right: 5px;
                transition: width ease-in-out 0.2s;
            }
    
            a {
                margin-left: 10px;
                text-decoration: none;
                transition: color ease-in-out 0.3s;
                color: $text-color;
            }
        }
    }
}

.active {
    .line {
        width: 60px;
        transition: width ease-in-out 0.1s;
        color: $text-color-stressed;
        font-weight: 600;
    }

    .anchor {
        margin-left: 10px;
        text-decoration: none;
        transition: color ease-in-out 0.3s;
        color: $text-color-stressed;
        font-weight: 600;
    }
}

.lightMode{
    ul {
        li {
            a {
                color: $text-color-light;
            }

            &.active{
                .line{
                    color: $text-color-stressed-light;
                }

                .anchor {
                    color: $text-color-stressed-light;
                }
            }
        }
    }
}