#root {
  max-width: 1280px;
  margin: auto;
  padding: 2rem;
}


.appContainer{
  display: flex;
  flex-direction: row;
  gap:  50px;
  margin: auto;
  
  .leftColumn{
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vw;
    left: 10%;
    top: 0px;
  }
  
  .rightColumn{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 20%;
    top: 0px;
    width: 450px;
  }
}